.header {
    padding: 20px;
    position: relative;
    z-index: 2;
}

.header * {
    user-select: none;
}

.header .title {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 3.5vw;
    word-break: break-all;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .header .title {
        font-size: 5vw;
    }
}

.header .subtitle {
    font-size: 13px;
    font-weight: 300;
    padding-left: 6px;
}

.header .asterisk {
    font-size: 14px;
    vertical-align: top;
    padding-left: 2px;
}

.header .title:hover {
    color:lavender;
}