:root {
  --app-height: 100%;
 }

body {
  padding: 22px;
  font-family: 'Helvetica Neue', 'Inter', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
  height: var(--app-height);
  display: flex;
}

button {
  margin: 0;
  padding: 0;
  border: unset;
  background: unset;
}

.root {
  display: flex;
  flex: 1;
}